body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff;
}

h1 {
    margin-bottom: 20px;
    color: #000;
}

.swipeScreen {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4286f4;
    color: #fff;
}

.scoreWrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.score {
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.actionBtn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #4286f4;
}

.resetBtn {
    background-color: #f44141;
}

.warningBtn {
    background-color: #ffaf00;
}

.minusBtn {
    background-color: #6c757d;
}
